.CenterContent {
  justify-content: center;
  min-width: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  overflow: hidden;
}

.CellName {
  color: #55C;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;;
  font-size: 0.9em;
  background-color: #FAFAFA;
  border: 1px solid #EEE;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  z-index: 1;
  padding-top: 1px;
  margin-right: -1px;
  margin-bottom: -1px;
}

.CellValue {
  color: #666;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;;
  font-size: 0.9em;
  border: 1px solid #EEE;
  background-color: #FDFDFD;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  z-index: 1;
  padding-top: 1px;
  margin-right: -1px;
  margin-bottom: -1px;
  position: relative;
}

.BottomInternalShadow::after {
  box-shadow: inset 0px -2px 5px -3px #888;
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: -1px;
  left: 0px;
  pointer-events: none;
  content: '';
  z-index: 4;
}

.TopInternalShadow::after {
  box-shadow: inset 0px 2px 5px -3px #888;
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  pointer-events: none;
  content: '';
  z-index: 4;
}

.RightInternalShadow::after {
  box-shadow: inset -2px 0px 5px -3px #888;
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  pointer-events: none;
  content: '';
  z-index: 4;
}

.LeftInternalShadow::after {
  box-shadow: inset 2px 0px 5px -3px #888;
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  pointer-events: none;
  content: '';
  z-index: 4;
}

.CellSelected {
  pointer-events: none;
  position: relative;
}

.CellSelected::after {
  z-index: 2;
  display: block;
  position: absolute;
  top: 1px;
  right: 0px;
  bottom: 0px;
  left: 1px;
  box-shadow: 0px 0px 3px 0px #0000FF;
  content: '';
}

.CellValueError {
  background-color: #FFF4F4;
}

.CellValueOverride {
  background-color: #FFFFE8;
}
