.SheetContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
}

.SheetTitle {
  text-align: left;
  color: #000;
  background-color: #F4F4FF;
  font: helvetica;
  min-height: 20px;
  position: relative;
}

.TitleElem {
  font-size: 0.8em;
  min-width: 60px;
  display: inline-block;
  text-align: center;
  margin: 1px 0px 1px 1px;
  padding: 2px;
  background-color: #444;
  color: #F8F8F8;
}

.TitleLink {
  cursor: pointer;
  color: #CCC;
}

.Sheet {
  text-align: center;
  display: grid;
  background-color: #F4F4F4;
  padding-right: 1px;
  padding-bottom: 1px;
  position: relative;
}

.SheetViewInputRow {
  display: flex;
  flex-direction: row;
}

.StackButton {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  background-color: #EFEFEF;
  border: 1px solid #EAEAEA;
}

.DeleteSheetButton {
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-color: #EFEFEF;
  border: 1px solid #EAEAEA;
}
