.SheetContainer {
  display: flex;
  flex-direction: column;
  margin: 5px 10px;
  grid-area: 1 / 1 / 2 / 2;
  width: 800px;
  overflow: hidden;
}

.SheetTitle {
  font-weight: 700;
  color: #55C;
  background-color: #F4F4FF;
  font: helvetica;
  min-height: 20px;
  position: relative;
}

.Sheet {
  text-align: center;
  display: grid;
  background-color: #F4F4F4;
  padding-right: 1px;
  padding-bottom: 1px;
  position: relative;
}

.SheetViewInputRow {
  display: flex;
  flex-direction: row;
}

.StackButton {
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-color: #EFEFEF;
  border: 1px solid #EAEAEA;
}

.DeleteSheetButton {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  background-color: #EFEFEF;
  border: 1px solid #EAEAEA;
}
