.EmptyCell {
  background-color: #FDFDFD;
  position: relative;
  border: 1px solid #EEE;
  margin-right: -1px;
  margin-bottom: -1px;
}

.CellName {
  color: #55C;
  font: helvetica;
  background-color: #FAFAFA;
  border: 1px solid #EEE;
  border-bottom: none;
  box-shadow: 0px 2px 0px -1px #F4F4F4;
  text-overflow: ellipsis;
  z-index: 1;
  margin-right: -1px;
}

.CellValue {
  color: #666;
  font: helvetica;
  border: 1px solid #EEE;
  border-top: none;
  box-shadow: 0px -2px 0px -1px #F4F4F4;
  background-color: #FDFDFD;
  text-overflow: ellipsis;
  z-index: 1;
  margin-right: -1px;
  margin-bottom: -1px;
  position: relative;
}

.LastArrayCell::after {
  box-shadow: inset 0px -2px 5px -3px #AAA;
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  pointer-events: none;
  content: '';
}

.FirstArrayCell::after {
  box-shadow: inset 0px 2px 5px -3px #AAA;
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  pointer-events: none;
  content: '';
}

.CellSelected {
  position: relative;
  z-index: 2;
}

.CellSelected::after {
  display: block;
  position: absolute;
  top: 1px;
  right: 0px;
  bottom: 0px;
  left: 1px;
  box-shadow: 0px 0px 3px 0px #0000FF;
  pointer-events: none;
  content: '';
}

.CellValueError {
  background-color: #FFF4F4;
}

.CellValueOverride {
  background-color: #FFFFE8;
}
