.Cell {
  background-color: #FDFDFD;
  position: relative;
  border: 1px solid #EEE;
  margin-right: -1px;
  margin-bottom: -1px;
}

.Cell.selected {
  border: 1px solid blue;
  z-index: 2;
}

.CellName {
  color: #55C;
  font: helvetica;
  background-color: #FAFAFA;
  border: 1px solid #EEE;
  border-bottom: none;
  box-shadow: 0px 2px 0px -1px #F4F4F4;
  text-overflow: ellipsis;
  z-index: 1;
  margin-right: -1px;
}

.CellNameSelected {
  border: 1px solid blue;
  border-bottom: none;
  z-index: 2;
}

.CellValue {
  color: #666;
  font: helvetica;
  border: 1px solid #EEE;
  border-top: none;
  box-shadow: 0px -2px 0px -1px #F4F4F4;
  background-color: #FDFDFD;
  text-overflow: ellipsis;
  z-index: 1;
  margin-right: -1px;
  margin-bottom: -1px;
}

.CellValueSelected {
  border: 1px solid blue;
  border-top: none;
  z-index: 2;
}

.CellValueError {
  background-color: #FFF4F4;
}

.CellValueOverride {
  background-color: #FFFFE8;
}
