.Banner {
  font-size: 0.8em;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #AAA;
}

.BannerButton {
  border-radius: 3px;
  background-color: #5361a5;
  color: white;
  padding: 10px;
  margin: 4px 12px;
  text-decoration: none;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.BannerButton:hover {
  background-color: #6371b5;
}

.FacebookButton {
  background-color: #4267B2;
  color: white;
}

.FacebookButton:hover {
  background-color: #5277C2;
}

.Banner img {
  margin: 0px 12px;
}
