.ParentHover {
  display: contents;
  position: relative;
}

.ParentHover > div:first-child {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 4;
  opacity: 0;
  pointer-events: none;
}

.ParentHover > div:first-child > * {
  pointer-events: auto;
}

.ParentHover:hover div:first-child {
  opacity: 1;
}
