.TableContainer {
  display: flex;
  flex-direction: column;
  margin: 5px 10px;
  grid-area: 1 / 1 / 2 / 2;
}

.TableTitle {
  font-weight: 700;
  color: #55C;
  background-color: #EDEDFF;
  font: helvetica;
  min-height: 20px;
}

.Table {
  text-align: center;
  display: grid;
  background-color: #F4F4F4;
  flex-grow: 1;
}

.TableErrorText {
  color: #DD8484;
  align: right;
}

.TableViewInputRow {
  align-self: stretch;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row;
}
