.TableContainer {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.TableTitle {
  font-weight: 700;
  color: #55C;
  background-color: #EDEDFF;
  font: helvetica;
  min-height: 20px;
}

.Table {
  text-align: center;
  display: grid;
  background-color: #F4F4F4;
}
